
@media (max-width: 768px) {
  
  div[style*="padding: 20px"] ul {
    display: flex !important;
    flex-direction: column !important;
    gap: 15px !important;
  }

 
  div[style*="padding: 20px"] ul li {
    width: 100% !important;
  }
}
