body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  
  width: 100%;
}

.button:hover {
  background-color: green;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; 
}

.dropdown-item:hover {
  background-color: #f0f0f0;  
  color: blue;  
  border-radius: 5px;  
}

#navbarDropdown:hover {
  background-color: #f0f0f0;  
  color: blue;  
  border-radius: 5px;  
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;  
}

#link:hover {
  background-color: #f0f0f0;  
  color: blue;  
  border-radius: 5px;  
}

#link2:hover {
  background-color: #f0f0f0;  
  color: blue;  
  border-radius: 5px;  
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: "white";
  text-align: center;
  overflow: hidden;
  position: relative;
}

@keyframes moverDeIzquierdaADerecha {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

h2 {
  animation: moverDeIzquierdaADerecha 2s ease-out forwards;
}

@keyframes moverIzquierdaADerecha {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.producto-izquierda {
  animation: moverIzquierdaADerecha 1s ease-out forwards;
}



ul.productos-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 20px;
  justify-items: center;
}

@media (max-width: 768px) {
  ul.productos-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

 
  .producto-izquierda {
    animation: none; 
  }
}

@media (max-width: 480px) {
  ul.productos-grid {
    grid-template-columns: 1fr; 
  }

  li {
    padding: 10px;
    width: 100%; 
  }

  
  .producto-izquierda {
    animation: none; 
  }
}
h2.no-animacion {
  animation: none;
}
 
.footer {
  background-color: #1c55be;
  color: white;
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

 
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}
 
.footer-section {
  flex: 1 1 200px;
  text-align: left;
}

 
.footer-link {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: yellow;
}

 
.social-icon {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: #ffdd00 !important;
  transform: scale(1.2);
}

 
.footer-copy {
  margin-top: 20px;
  font-size: 14px;
}
.input{
  margin-bottom: 10px;
}
 